* {
    margin: 0;
    padding: 0;
    border: 0;
    background: #DBDBDB;
}

.title {
    text-align: center;
    padding: 12px;

}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 16px;
}

a {
    text-decoration: none;
}

.tree {
    font-weight: bold;
    font-size: 16px;
}